@model GestionEstudiantesWeb.Models.Nota

@{
    ViewData["Title"] = "Details";
}

<h4>Información de la nota</h4>
<p></p>
<div>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tipo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Calificacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Calificacion)
        </dd>
        <dt class = "col-sm-2">Estudiante y Materia</dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.oMatricula.oEstudiante.Nombre) 
            @Html.DisplayFor(Model => Model.oMatricula.oEstudiante.Apellido)  - 
			@Html.DisplayFor(model => model.oMatricula.oMateria.Nombre)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index" class="btn btn-primary">Regresar</a>
</div>
